body {
	--background: #18181b;
	--primary: #202124;
	--secondary: #38383f;
	--tertiary: #515157;
	--accent: #1a73e8;
	--accent-hover: rgba(26, 115, 232, .2);
	--accent-active-focus: rgba(26, 115, 232, .3);
	--borders: #242529;
	
	width: 300px;
	height: auto;
	background: var(--background);
	font-family: Arial, sans-serif;
	display: inline-block;
	user-select: none;
}
:root {
	color-scheme: dark;
}
::selection {
  background-color: var(--secondary);
}


/* HEADER */

.header {
	background-color: var(--primary);
	padding-bottom: 5px;
	border-radius: 7px;
	text-align: center;
	font-size: 1rem;
	user-select: none;
	cursor: default;
	border: solid 1px var(--borders);
}

.header h1 {
	margin: 0;
	font-size: 2rem;
	font-weight: 900;
}
.header p {
	margin: 0 0 5px 0;
	font-weight: 600;
	color: var(--accent);
}


/* Main Info TEXT */

.main-info {
	margin: 15px 0;
	text-align: center;
	font-size: 1.1rem;
	user-select: none;
	cursor: default;
	font-weight: 600;
}


/* Controls DIV */

.controls {
	background-color: var(--primary);
	padding: 0 10px 10px 10px;
	border-radius: 7px;
	border: solid 1px var(--borders);
}


/* Volume VALUE  */

.value {
	color: var(--accent);
	text-align: center;
	font-weight: 900;
	font-size: 1.5rem;
	user-select: none;
}


/* Volume RANGE SLIDER */

.volume-range {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  margin: 13px 0 18px 0;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  height: 10px;
  background-color: var(--secondary);
}

.volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: var(--accent);
  border-radius: 50%;
  border: none;
}

.volume-range::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 5px var(--accent-hover);
}
.volume-range:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 7px var(--accent-active-focus);
}
.volume-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 7px var(--accent-active-focus);
}


/* Reset Volume BUTTON */

.reset-button {
	display: inline-block;
	width: 100%;
	height: 35px;
	border: none;
	vertical-align: middle;
	-webkit-appearance: none;
	background-color: var(--secondary);
	border-radius: 7px;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

.reset-button:hover {
	background-color: var(--accent);
	box-shadow: 0 0 0 5px var(--accent-hover);
}
.reset-button:active {
	background-color: var(--accent);
	box-shadow: 0 0 0 7px var(--accent-active-focus);
}
.reset-button:focus {
	background-color: var(--accent);
	outline: none;
	box-shadow: 0 0 0 7px var(--accent-active-focus);
}
